@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.cdnfonts.com/css/gilroy-bold?styles=20876,20877,20878,20879,20880');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Outfit', sans-serif;
    /* font-family: 'Gilroy-Bold', sans-serif;
    font-family: 'Gilroy-Heavy', sans-serif;
    font-family: 'Gilroy-Light', sans-serif;
    font-family: 'Gilroy-Medium', sans-serif;
    font-family: 'Gilroy-Regular', sans-serif; */
}
body {
    scroll-behavior: smooth;
}
li {
    list-style: none;
}
a {
    color: inherit;
    text-decoration: none;
}

button {
    font-family: 'Gilroy-Regular', sans-serif;
}
.container {
    max-width: 1250px;
    margin: 0 auto;
    padding: 10px 15px;
}



.overlay {
    width: 100vw;
    height: 100vh;
    background-color: #0000006f;
    opacity: 0;
    pointer-events: none;
    position: fixed;
    top: 0;
    left: 0;
    transition: .3s;
}
header {
    background-color: #141414;
    padding: 10px 0;
}
header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


header .container ul {
    display: flex;
    align-items: center;
    justify-content: center;
}

header .container ul li {
    margin-left: 30px;
}

header .container ul li a {
    font-size: 28px;
    font-family: 'Gilroy-Regular', sans-serif;
    font-weight: 400;
    color: #fff;
}
header .container .fa-bars {
    font-size: 25px;
    color: #fff;
    display: none;
}



#banner {
    padding: 140px 90px;
    background-image: url(../images/banner-bg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
#banner h1 {
    font-size: 86px;
    font-weight: 800;
    line-height: 98px;
    color: #fff;
    text-align: center;
    margin-bottom: 20px;
}
#banner h1 span {
    color: #06498F;
}

#banner p {
    font-size: 24px;
    font-weight: 300;
    line-height: 34px;
    text-align: center;
    color: #fff;
    margin-bottom: 30px;
}


#banner button {
    width: 188px;
    height: 64px;
    font-size: 18px;
    font-weight: 400;
    color: #fff;
    background-color: #06498F;
    border: none;
    display: block;
    margin: 0 auto;
}




.about {
    padding: 140px 90px;
}
.about .container {
    display: flex;
    align-items: flex-start;
}
.aboutLeft {
    width: 50%;
    padding-right: 35px;
}
.aboutLeft img {
    width: 100%;
}

.aboutRight {
    width: 50%;
    padding-left: 15px;
}
.aboutRight h2 {
    font-size: 66px;
    font-weight: 800;
    line-height: 76px;
    color: #06498F;
    margin-bottom: 25px;
}
.aboutRight h2 span {
    color: #232323;
}
.aboutRight p {
    font-size: 22px;
    font-weight: 300;
    line-height: 28px;
    color: #666666;
    margin-bottom: 15px;
}

.aboutRight button {
    width: 182px;
    height: 64px;
    background-color: #06498F;
    color: #fff;
    border: none;
    font-size: 18px;
    font-weight: 400;
}




.choose {
    padding: 140px 90px;
    background-color: #282828;
}
.choose .container {
    display: flex;
    align-items: center;
}

.chooseLeft {
    width: 50%;
    padding-right: 10px;
}
.chooseLeft h2 {
    font-size: 56px;
    font-weight: 800;
    line-height: 66px;
    color: #fff;
    margin-bottom: 20px;
}

.chooseLeft strong {
    font-size: 28px;
    font-weight: 800;
    line-height: 36px;
    color: #fff;
    display: block;
    margin-bottom: 10px;
}
.chooseLeft p {
    font-size: 22px;
    font-weight: 300;
    line-height: 32px;
    margin-bottom: 30px;
    color: #fff;
}


.chooseRight {
    width: 50%;
    padding-left: 35px;
}
.chooseRight img {
    width: 100%;
}




.services {
    padding: 140px 70px;
}
.services h2 {
    font-size: 56px;
    font-weight: 800;
    line-height: 66px;
    color: #06498F;
    text-align: center;
    margin-bottom: 50px;
}
.services h2 span {
    color: #232323;
}


.serviceWrap {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
}

.singleService {
    width: 400px;
    padding: 5px 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 30px;
}

.singleService .serviceImg {
    width: 102px;
    height: 102px;
    border-radius: 50%;
    border: 1px solid #0C195E;
    display: grid;
    place-items: center;
    margin-bottom: 15px;
}

.serviceText h3 {
    font-size: 24px;
    font-weight: 800;
    line-height: 34px;
    color: #232323;
}




.offer {
    padding: 140px 90px;
    background-color: #282828;
}
.offer .container {
    display: flex;
    align-items: center;
}
.offer .offerLeft {
    width: 50%;
    padding-right: 35px;
}
.offerLeft img {
    width: 100%;
}

.offerRight {
    width: 50%;
    padding-left: 10px;
}
.offerRight h2 {
    font-size: 56px;
    font-weight: 800;
    line-height: 66px;
    color: #fff;
    margin-bottom: 20px;
}
.offerRight strong {
    font-size: 28px;
    font-weight: 800;
    line-height: 36px;
    color: #fff;
    display: block;
    margin-bottom: 10px;
}
.offerRight p {
    font-size: 22px;
    font-weight: 300;
    line-height: 32px;
    margin-bottom: 30px;
    color: #fff;
}





.inTouch {
    padding: 140px 70px;
}

.inTouch .container {
    display: flex;
    align-items: flex-start;
}

.touchLeft {
    width: 50%;
    padding-right: 10px;
}


.touchLeft h2 {
    font-size: 66px;
    font-weight: 900;
    line-height: 76px;
    font-family: 'Gilroy-Heavy', sans-serif;
    color: #232323;
    margin-bottom: 25px;
}
.touchLeft h2 span {
    color: #06498F;
}

.touchLeft p {
    font-size: 20px;
    font-weight: 400;
    line-height: 31px;
    font-family: 'Gilroy-Regular', sans-serif;
    color: #232323;
    margin-bottom: 30px;
}

.touchLeft form .touchInpRow {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 20px;
}

.touchLeft form .touchInpRow .touchSingleInp {
    width: calc(50% - 10px);
}
.touchLeft form .touchInpRow label {
    font-size: 16px;
    font-weight: 500;
    line-height: 28px;
    font-family: 'Gilroy-Medium', sans-serif;
    color: #232323;
    display: block;
}

.touchLeft form .touchInpRow .touchSingleInp input {
    width: 100%;
    height: 52px;
    border-radius: 8px;
    border: 1px solid rgba(0, 0, 0, .3);
    padding: 12px 16px;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Gilroy-Medium', sans-serif;
    box-shadow: 0px 1px 2px 0px #1018280D;
    background-color: #f4f4f5;
}

.touchLeft form .touchInpRow .touchInpBig {
    width: 100%;
}
.touchLeft form .touchInpRow textarea {
    width: 100%;
    height: 120px;
    border-radius: 8px;
    border: 1px solid rgba(0, 0, 0, .3);
    padding: 12px 16px;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Gilroy-Medium', sans-serif;
    box-shadow: 0px 1px 2px 0px #1018280D;
    background-color: #f4f4f5;
}




.contentMethod {
    margin-bottom: 20px;
}
.contentMethod p {
    font-size: 16px;
    font-weight: 500;
    line-height: 28px;
    font-family: 'Gilroy-Medium', sans-serif;
    color: #232323;
    margin-bottom: 15px;
}

.contentMethod .methodItemWrap {
    display: flex;
    align-items: center;
}
.contentMethod .methodItemWrap .methodItem {
    display: flex;
    align-items: center;
    margin-right: 25px;
}

.contentMethod .methodItemWrap .methodItem input {
    width: 20px;
    height: 20px;
    display: block;
    margin-right: 10px;
}
.contentMethod .methodItemWrap .methodItem label {
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    color: #666666;
    font-family: 'Gilroy-Regular', sans-serif;
}


.touchLeft form .touchBtn {
    width: 307px;
    height: 64px;
    background-color: #06498F;
    color: #fff;
    border: none;
    font-size: 18px;
    font-weight: 400;
}


.touchRight {
    width: 50%;
    padding-left: 10px;
}
.touchRight h3 {
    font-size: 35px;
    font-weight: 600;
    line-height: 43px;
    font-family: 'Gilroy-Medium', sans-serif;
    color: #06498F;
    margin-bottom: 20px;
}
.touchRight p {
    font-size: 15px;
    font-weight: 300;
    line-height: 27px;
    color: #666666;
}





footer {
    padding: 0 70px;
    background-color: #06498F;
}

.footerTop {
    padding: 50px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1.5px solid rgba(255, 255, 255, .5);
}

.footerTop ul {
    display: flex;
    align-items: center;
}

.footerTop ul li a {
    padding: 0 15px;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    font-family: 'Gilroy-Regular', sans-serif;
    color: #fff;
}

.footerSocial {
    display: flex;
    align-items: center;
}
.footerSocial a {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    background-color: #fff;
    display: grid;
    place-items: center;
    margin-left: 10px;
}
.footerSocial a i {
    font-size: 12px;
    color: #06498F;
}



.footerBottom {
    padding: 25px 0;
}
.footerBottom p {
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    color: #fff;
    text-align: center;
}





@media (max-width: 1380px) {
    .serviceWrap {
        justify-content: center;
    }
}


@media (max-width: 1300px) {
    .footerTop ul {
        justify-content: center;
        flex-wrap: wrap;
    }
    .footerTop ul li {
        margin: 10px 0;
    }
}



@media (max-width: 1000px) {
    .container {
        max-width: 800px;
    }
    header .logo {
        width: 130px;
    }
    header .container ul li a {
        font-size: 20px;
    }
    #banner h1 {
        font-size: 65px;
        line-height: 80px;
    }

    #banner p {
        font-size: 18px;
    }
    #banner button {
        font-size: 16px;
    }


    .about .container {
        flex-direction: column;
    }
    .aboutLeft {
        width: 100%;
        padding: 0;
    }
    .aboutRight {
        width: 100%;
        padding: 0;
    }
    .aboutRight h2 {
        font-size: 55px;
    }


    .aboutRight p {
        font-size: 18px;
    }
    .aboutRight button {
        font-size: 16px;
    }


    .choose .container {
        flex-direction: column;
    }
    .chooseLeft {
        width: 100%;
        padding: 0;
        margin-bottom: 20px;
    }

    .chooseLeft strong {
        font-size: 22px;
    }
    .chooseLeft p {
        font-size: 18px;
    }
    .chooseRight {
        width: 100%;
        padding: 0;
    }


    .services h2 {
        font-size: 50px;
    }
    .singleService {
        width: 300px;
    }

    .serviceText h3 {
        font-size: 20px;
    }


    .offer .container {
        flex-direction: column;
    }
    .offer .offerLeft {
        width: 100%;
        padding: 0;
        margin-bottom: 25px;
    }
    .offer .offerRight {
        width: 100%;
        padding: 0;
    }
    .offerRight strong {
        font-size: 22px;
    }
    .offerRight p {
        font-size: 18px;
    }


    .inTouch .container {
        flex-direction: column;
    }
    .touchLeft {
        width: 100%;
        padding: 0;
        margin-bottom: 25px;
    }
    .touchLeft h2 {
        font-size: 55px;
    }
    .touchLeft p {
        font-size: 18px;
    }
    .touchLeft form .touchInpRow label {
        font-size: 15px;
    }
    .touchLeft form .touchBtn {
        font-size: 16px;
    }
    .touchRight {
        width: 100%;
        padding: 0;
    }



    .footerTop .footerLogo {
        width: 140px;
    }
    .footerTop ul li a {
        font-size: 15px;
    }
}





@media (max-width: 800px) {
    .container {
        max-width: 600px;
    }
    .overlay.active {
        opacity: 1;
        pointer-events: all;
    }
    header .container .fa-bars {
        display: block;
    }
    header .container ul {
        width: 290px;
        height: 100vh;
        position: fixed;
        transition: .3s;
        left: -310px;
        top: 0;
        background-color: #232323;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        padding: 60px 20px;
    }
    header .container ul.active {
        left: 0;
    }
    header .container ul li {
        margin-left: 0;
        margin-bottom: 30px;
    }
    #banner, .about, .choose, .offer {
        padding: 80px 40px;
    }
    #banner h1 {
        font-size: 60px;
    }

    .services, .inTouch {
        padding: 80px 30px;
    }

    .singleService {
        width: 250px;
    }

    footer {
        padding: 0 30px;
    }
}





@media (max-width: 650px) {
    .footerTop {
        flex-direction: column;
    }
    .footerTop .footerLogo {
        margin-bottom: 30px;
    }
    .footerTop ul {
        margin-bottom: 25px;
    }
}



@media (max-width: 500px) {
    #banner, .about, .choose, .offer, .services, .inTouch {
        padding: 60px 15px;
    }
    #banner h1 {
        font-size: 52px;
        line-height: 60px;
    }

    .aboutRight h2, .chooseLeft h2, .offerRight h2, .touchLeft h2 {
        font-size: 48px;
    }

    .services h2 {
        font-size: 46px;
    }

    .touchLeft form .touchInpRow {
        flex-direction: column;
    }
    .touchLeft form .touchInpRow .touchSingleInp {
        width: 100%;
        margin-bottom: 20px;
    }
    .touchLeft form .touchInpRow .touchSingleInp:last-child {
        margin-bottom: 0;
    }

    .touchLeft form .touchBtn {
        width: 200px;
    }
    .touchRight h3 {
        font-size: 28px;
    }
}



@media (max-width: 400px) {
    #banner h1 {
        font-size: 48px;
    }
}